# Dependency directories
/vendor/

# Configuration and Secrets
.env
config/env.php

# OS metadata
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/
*.swp

# Logs and temporary files
*.log
/uploads/*
!/uploads/.gitkeep